<!-- Services Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <br />

        <img src="img/perfil/perfil.png" class="img-size center-block" alt="" />

        <br />
        <br />
        <p class="text-muted">
          Hello everyone, I'm Daniela Niño, and I'm truly passionate about the
          art of writing and storytelling. My journey into the world of words
          began back in 2011 when I embarked on my bachelor's degree in
          Communications and Journalism. Since then, I've had the privilege of
          working across various media outlets and later in a corporate
          environment within the financial industry.
          <br />
          In 2022, I made the exciting decision to move to Canada to pursue my
          postgraduate studies in Public Relations and explore new avenues to
          advance my career. Beyond my love for writing, you'll often find me
          spending quality time with my boyfriend, exploring new destinations,
          indulging in captivating series, and staying active through workouts.
          <br />
          I'm thrilled to share with you some samples of my writing, ranging
          from university projects to personal pieces and professional
          endeavors. I hope you enjoy exploring them as much as I've enjoyed
          creating them!
        </p>
      </div>
    </div>
  </div>
</section>
